# General info
include LICENSE
include *.rst

# Control and setup helpers

# Exclude development helpers
exclude .travis.yml
exclude tox.ini
exclude *-requirements.txt
exclude .pylintrc
exclude codecov.yml
exclude .mailmap
exclude docs/src/_static/stub
exclude .readthedocs.yml
prune .github/

# Include src, tests, docs
recursive-include docs *.rst *.py *.gitkeep *.txt
prune docs/build
prune docs/src/reference
recursive-include src *.py
recursive-include tests *.py *.yaml *.json *.txt *.yml *.in LICENSE
include tests/requirements.txt
include versioneer.py
include src/orion/algo/skopt/_version.py
