# General info
include LICENSE
include *.rst

# Exclude development helpers
exclude .travis.yml
exclude tox.ini
exclude *-requirements.txt
exclude .pylintrc
exclude codecov.yml
exclude .mailmap

# Include src, tests
recursive-include *.rst *.py *.gitkeep
recursive-include src *.py
recursive-include tests *.py *.yaml *.txt
